section, article, aside, footer, header, nav, hgroup {
  display:block;
}

form{
    margin:0 auto;
    width:400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

form div +div {
    margin-top:1em;
}

label{
    display:inline-block;
    width: 70px;
    text-align:right;
}

input, textarea{
    font: 0.8em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus{
    border-color:#000;
}

textarea{
    vertical-align:top;
    height:5em;
    resize: vertical;
}

.button{
    padding-left:70px;
}

button{
    margin-left: .5em;
}
